li {
  color:black;
  font-family: 'Julius Sans One', sans-serif;
  text-align: right;
}
p {
  color:black;
  font-family: 'Julius Sans One', sans-serif;
  line-height: 2em;
  padding: 10px;
}
h1 {
  font-family: 'Julius Sans One', sans-serif;
}
h2 {
  font-family: 'Julius Sans One', sans-serif;
}
h3 {
  font-family: 'Julius Sans One', sans-serif;
}
a {
  font-family: 'Julius Sans One', sans-serif;
  text-decoration: none;
}
.frogs {
  font-family: 'Julius Sans One', sans-serif;
}
.navbar {
  background: white;
}
.nav ul {
  list-style: none;
  width:100%;
  max-width: 1200px;
  margin: 0 auto; /*make the menu center-aligned*/
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.nav ul li a {
    margin-top:0px;
    text-align:center;
    color:black;
    padding: 0px;
}
.nav li:last-child a {
    border-right: 0;
}
.nav a:hover, nav a:active {
    background-color: #8c99a4;
}
.nav a#pull {
    display: none;
}
@media screen and (min-wdith: 768px) {
  .cats {
    padding: 75px;
  }
  .works {
    padding: 30px;
    width: 60%;
    text-align: right;
    margin: auto;
    position: absolute;
  }
}
@media screen and (max-width: 600px) {
    .nav {
      height: auto;
    }
    .nav ul li {
      width:100%;
    }
    .nav ul {
        width: 100%;
        display: block;
        height: auto;
    }
    .nav li {
        width: 100%;
        float: left;
        position: relative;
    }
    .nav li a {
        border-bottom: 1px solid #576979;
        border-right: 1px solid #576979;
    }
    .nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
    }
    .cats {
        margin: auto;
        width: 100%;
        text-align: center;
    }
    .cats p {
      text-align: center;
    }
    .works {
      width: 100%;
      padding: 20px;
    }
    .works h2 {
      width: 100%;
      margin: auto;
      padding-top: 20px;
    }
    .works p {
      margin: auto;
      padding-bottom:40px;
      padding-top: 20px;
      width: 100%;
    }
}
@media only screen and (max-width : 480px) {
    .nav {
        border-bottom: 0;
    }
    .nav ul {
        display: none;
        height: auto;
    }
    .nav a#pull {
        display: block;
        background-color: #283744;
        width: 100%;
        position: relative;
    }
    .nav a#pull:after {
        content:"";
        background: url('nav-icon.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
    }
    .cats {
        margin: auto;
        width: 100%;
        text-align: center;
    }
    .cats p {
      text-align: center;
    }
    .works {
      width: 100%;
    }
    .works h2 {
      width: 100%;
      margin: auto;
    }
    .works p {
      margin: auto;
      width: 100%;
    }
  }
  @media only screen and (max-width : 320px) {
    .nav li {
        display: block;
        float: none;
        width: 100%;
    }
    .nav li a {
        border-bottom: 1px solid #576979;
    }
    .cats {
        margin: auto;
        width: 100%;
    }
    .cats p {
      width: 100%;
    }
    .works {
      width: 100%;
      padding: 20px;
    }
    .works h2 {
      width: 100%;
      margin: auto;
      padding-top: 20px;
      text-align: center;
    }
    .works p {
      margin: auto;
      padding-bottom:40px;
      padding-top: 20px;
      width: 100%;
    }
}

.body{
	position: absolute;
  width: 100%;
  height: 100%;
	background-image: url(https://www.exciteholidays.com/campaigns/losangeles/wp-content/uploads/sites/4/2016/01/06-1.jpg);
	background-size: cover;
	-webkit-filter: blur(5px);
}
.login-1 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background: rgba(255,255,255,0.2);
}
.login {
	position: relative;
  display: table;
	height: 100vh;
  width: 100%;
	z-index: 2;
}
.password {
  padding: 10px;
}
.username {
  padding: 5px;
}
.login-register p {
  font-size: 10px;
}
.login-register a {
  text-decoration: none;
  color: blue;
}
.login-register a:hover {
  text-decoration: none;
  color: black;
}

.login input[type=text]{
	width: 300px;
	height: 50px;
	background: transparent;
	border: 1px solid rgba(255,255,255,1);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 20px;
	font-weight: 400;
	padding: 10px;
  font-family: 'Julius Sans One', sans-serif;
}

.login input[type=password]{
  width: 300px;
	height: 50px;
	background: transparent;
	border: 1px solid rgba(255,255,255,1);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 20px;
	font-weight: 400;
	padding: 10px;
  font-family: 'Julius Sans One', sans-serif;
}

.login input[type=button]{
	width: 300px;
	height: 50px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 20px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
  font-family: 'Julius Sans One', sans-serif;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}
.login-1 .cows {
  font-size: 14px;
  font-family: 'Julius Sans One', sans-serif;
  color: white;
}
.login-register p {
  font-size: 20px;
  color: white;
}
.works {
  width: 100%;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}
.demo {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.demo a {
  text-align: center;
  border: 1px solid black;
  padding: 3px;
  font-size: 30px;
  color: black;
}
.demo a:hover {
  border: 1px solid grey;
  color: grey;
  text-decoration: none;
}
.map-demo {
  background-image: url('https://github.com/Clarachun/framefinds.com/blob/gh-pages/9160996_1280x720.jpg?raw=true');
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 70%;
  padding: 20px;
}
.theatre {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
  padding: 20px;
}

.theatre .stage {
  display: table-cell;
  vertical-align: middle;
  padding: 20px;
}
.cars {
  position: relative;
}
.works p {
  margin: auto;
  padding-top: 20px;
}
.works h2 {
  padding-top: 20px;
  text-align: center;
  margin: auto;
}
.catty .border {
  background-color:transparent;
  font-size:25px;
  color: #f7f7f7;
}
.border a {
  color: black;
}
.border a:hover {
  text-decoration: none;
  color: white;
}
