li {
  color:black;
  font-family: 'Julius Sans One', sans-serif;
  text-align: right;
}
p {
  color:black;
  font-family: 'Julius Sans One', sans-serif;
  line-height: 2em;
  padding: 10px;
}
h1 {
  font-family: 'Julius Sans One', sans-serif;
}
h2 {
  font-family: 'Julius Sans One', sans-serif;
}
h3 {
  font-family: 'Julius Sans One', sans-serif;
}
a {
  font-family: 'Julius Sans One', sans-serif;
  text-decoration: none;
}
.frogs {
  font-family: 'Julius Sans One', sans-serif;
}
.f-nav {
    z-index: 9999;
    position: fixed;
    width: 100%;
} /* this make our menu move*/
.navbar {
  background: white;
}
.nav ul {
  list-style: none;
  width:100%;
  max-width: 1200px;
  margin: 0 auto; /*make the menu center-aligned*/
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.nav ul li a {
    margin-top:0px;
    text-align:center;
    color:black;
    padding: 12px;

}
.nav li:last-child a {
    border-right: 0;
}
.nav a:hover, nav a:active {
    background-color: #8c99a4;
}
.nav a#pull {
    display: none;
}

@media screen and (max-width: 600px) {
    .nav {
      height: auto;
    }
    .nav ul li {
      width:100%;
    }
    .nav ul {
        width: 100%;
        display: block;
        height: auto;
    }
    .nav li {
        width: 100%;
        float: left;
        position: relative;
    }
    .nav li a {
        border-bottom: 1px solid #576979;
        border-right: 1px solid #576979;
    }
    .nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
    }
}
@media only screen and (max-width : 480px) {
    .nav {
        border-bottom: 0;
    }
    .nav ul {
        display: none;
        height: auto;
    }
    .nav a#pull {
        display: block;
        background-color: #283744;
        width: 100%;
        position: relative;
    }
    .nav a#pull:after {
        content:"";
        background: url('nav-icon.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
    }
    .cats {
        margin: auto;
        width: 100%;
        padding:75px;
        text-align: center;
    }
    .cats p {
      text-align: center;
    }
    .dog {
        margin: auto;
        padding-bottom:100px;
        padding-top: 50px;
        background-color: grey;
    }
    .dog h2 {
        padding-top: 40px;
        text-align: center;
        color: white;
    }
    .dog p {
      color: white;
      margin: auto;
      padding-bottom:40px;
      padding-top: 20px;
      width: 100%;
    }
    .works {
      width: 100%;
      padding: 20px;
    }
    .works h2 {
      width: 100%;
      margin: auto;
      padding-top: 20px;
      text-align: center;
    }
    .works p {
      margin: auto;
      padding-bottom:40px;
      padding-top: 20px;
      width: 100%;
    }
  }
  @media only screen and (max-width : 320px) {
    .nav li {
        display: block;
        float: none;
        width: 100%;
    }
    .nav li a {
        border-bottom: 1px solid #576979;
    }
    .cats {
        margin: auto;
        width: 100%;
        padding:75px;
        text-align: center;
    }
    .cats p {
      text-align: center;
    }
    .dog {
        margin: auto;
        padding-bottom:100px;
        padding-top: 50px;
        background-color: grey;
    }
    .dog h2 {
        padding-top: 40px;
        text-align: center;
        color: white;
    }
    .dog p {
      color: white;
      margin: auto;
      padding-bottom:40px;
      padding-top: 20px;
      width: 100%;
    }
    .works {
      width: 100%;
      padding: 20px;
    }
    .works h2 {
      width: 100%;
      margin: auto;
      padding-top: 20px;
      text-align: center;
    }
    .works p {
      margin: auto;
      padding-bottom:40px;
      padding-top: 20px;
      width: 100%;
    }
}
.naan img {
  width: 100%;
}
.cats {
    margin: auto;
    width: 90%;
    padding:75px;
    text-align: center;
}
.cats p {
  text-align: center;
}
.photo img {
  width: 100%;
}
.nemo h2 {
  text-align: center;
  padding-top: 50px;
  font-size: 60px;
}
.nemo p {
    height: 200px;
    width: 200px;
    padding-bottom: 20px;
    padding-top: 40px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: red;
}
.dog {
    margin: auto;
    padding-bottom:100px;
    padding-top: 50px;
    background-color: grey;
}
.dog h2 {
    padding-top: 40px;
    text-align: center;
    color: white;
}
.dog p {
  color: white;
  margin: auto;
  padding-bottom:40px;
  padding-top: 20px;
  width: 60%;
}
.works {
  width: 100%;
  padding: 20px;
}
.works h2 {
  width: 60%;
  margin: auto;
  padding-top: 20px;
  text-align: center;
}
.works p {
  margin: auto;
  padding-bottom:40px;
  padding-top: 20px;
  width: 73%;
}
.demo {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.demo a {
  text-align: center;
  border: 1px solid black;
  padding: 3px;
  font-size: 30px;
  color: black;
}
.demo a:hover {
  border: 1px solid grey;
  color: grey;
  text-decoration: none;
}
.map-demo {
    background-image: url('http://cdn.abclocal.go.com/images/kabc/cms_exf_2007/news/local/los_angeles/9160996_1280x720.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 70%;
    padding: 20px;
}
.theatre {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
  padding: 20px;
}

.theatre .stage {
  display: table-cell;
  vertical-align: middle;
  padding: 20px;
}
.email {
  padding-top: 50px;
  padding-bottom: 20px;
  background: #A9A9A9;
}
.email img {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.email h2 {
  text-align: center;
  padding: 20px;
}
.contact {
  padding: 40px;
}
.contact h2 {
  text-align: center;
}
.contact img {
  width: 30%;
  padding: 20px;
}
