body , html {
  text-transform: uppercase;
  font-family: 'Julius Sans One', sans-serif;
  height: 100%;
  margin: 0;
  color:black;
}
.loginbutton:hover {
  background: white;
  color: white;
}
li {
  color:black;
  text-align: right;
}
p {
  color:black;
  line-height: 2em;
  padding: 10px;
}
h3 {
  font-family: 'Julius Sans One', sans-serif;
  letter-spacing: 5px;
  padding: 30px;
  margin: auto;
  text-align: center;
}
a {
  font-family: 'Julius Sans One', sans-serif;
  text-decoration: none;
}
.navbar {
  background: white;
}
.nav ul {
  list-style: none;
  width:100%;
  max-width: 1200px;
  margin: 0 auto; /*make the menu center-aligned*/
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.nav ul li a {
    margin-top:0px;
    text-align:center;
    color:black;
    padding: 0px;
}
.nav li:last-child a {
    border-right: 0;
}
.nav li a:hover, .nav li a:active {
    background-color: #8c99a4;
    text-decoration: none;
}
.nav a#pull {
    display: none;
}
@media screen and (min-width: 768px) {
  input.comments {
    width: 300px;
  }
  textarea.comments {
    width: 300px;
  }
}
@media screen and (max-width: 600px) {
    .nav {
      height: auto;
    }
    .nav ul li {
      width:100%;
    }
    .nav ul {
        width: 100%;
        display: block;
        height: auto;
    }
    .nav li {
        width: 100%;
        float: left;
        position: relative;
    }
    .nav li a {
        border-bottom: 1px solid #576979;
        border-right: 1px solid #576979;
    }
    .nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
    }
    .cats {
        margin: auto;
        width: 100%;
        text-align: center;
    }
    .cats p {
      text-align: center;
    }
    .works {
      text-align: center;
      width: 90%;
      margin: auto;
    }
    .works p {
      width: 60%;
      margin: auto;
    }
    h3 {
      width: 100%;
    }
    .caption span.border {
      padding: 10px;
      letter-spacing: 8px;
    }
    input.comments {
      width: 300px;
    }
    textarea.comments {
      width: 300px;
    }
}
@media only screen and (max-width : 480px) {
    .nav {
        border-bottom: 0;
    }
    .nav ul {
        display: none;
        height: auto;
    }
    .nav a#pull {
        display: block;
        background-color: #283744;
        width: 100%;
        position: relative;
    }
    .nav a#pull:after {
        content:"";
        background: url('nav-icon.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
    }
    .cats {
        margin: auto;
        width: 100%;
        text-align: center;
    }
    .cats p {
      text-align: center;
    }
    .works {
      padding:5px;
      text-align: center;
      width: 100%;
      margin: auto;
    }
    .works p {
      width: 100%;
      margin: auto;
    }
    h3 {
      width: 100%;
    }
    .caption span.border {
      padding: 10px;
      letter-spacing: 6px;
    }
    input.comments {
      width: 300px;
    }
    textarea.comments {
      width: 300px;
    }
  }
  @media only screen and (max-width : 320px) {
    .nav li {
        display: block;
        float: none;
        width: 100%;
    }
    .nav li a {
        border-bottom: 1px solid #576979;
    }
    .cats {
      margin: auto;
      width: 100%;
    }
    .cats p {
      width: 100%;
      text-align: left;
    }
    h3 {
      letter-spacing: 5px;
      width: 100%;
      text-align: left;
    }
    .works {
      text-align: center;
      width: 100%;
      margin: auto;
    }
    h3 {
      width: 100%;
    }
    .caption span.border {
      padding: 10px;
      letter-spacing: 4px;
    }
    input.comments {
      width: 250px;
    }
    textarea.comments {
      width: 250px;
    }
}
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
  position: relative;
  opacity: 0.65;
  background-attachment: FIXED;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url("https://raw.githubusercontent.com/Clarachun/framefinds.com/gh-pages/IMG_8739.JPG");
  height: 100%;
  width: 100%;
}

.bgimg-2 {
  background-image: url("http://www.lamag.com/wp-content/uploads/sites/9/2015/06/RETNAwall.jpg");
  min-height: 400px;
  width: 100%;
}
.bgimg-3 {
  background-image: url("http://essentiallytara.com/wp-content/uploads/2015/05/tara-lipinski-colorful-walls7.jpg");
  min-height: 400px;
}
.bgimg-4 {
  background-image: url("http://www.aevitasweddings.com/wp-content/uploads/2016/01/05-downtown-los-angeles-wedding-photographer-engagement-session-photos-1.jpg");
  min-height: 100%;
  width: 100%;
}
.bgimg-5 {
  background-image: url("https://raw.githubusercontent.com/Clarachun/framefinds.com/gh-pages/IMG_8986.JPG");
  min-height: 100%;
  width: 100%;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}
.caption span.border {
  background-color: #111;
  color: #fff;
  font-size: 35px;
}
.contact {
  padding: 40px;
  text-align: center;
  width: 100%;
}
.input[type=text] {
    width: 50%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.glass {
  margin: auto;
  text-align: center;
  width: 40%;
}

.glass img {
  width: 40px;
  height: 40px;
  padding: 5px;
  text-align: center;
  margin: auto;
  position: relative;
}
.about {
  color:white;
  background-color:#282E34;
}
.email img {
  width: 100px;
  height: 100px;
}
.catty a:hover {
  text-decoration: none;
}
.catty {
  padding: 20px;
}
.works {
  text-align: center;
}
.contact-us {
  margin: auto;
}
.contact {
  margin: auto;
}
.cats {
  text-align: center;
}
.bgimg-1 .caption h1 {
  font-size: 50px;
  text-align: center;
}
.container {
  width: 90%;
}
.input {
  text-align: 50px;
}
