body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
    font-family: 'muli', sans-serif !important;
}
.w3-navbar li a {
    background-color: transparent;
    font-size: 14px;
}
.w3-navbar li a:hover {
    color: grey;
    background-color: transparent;
}
.w3-navbar {
  background-color: transparent;
}
.frogs {
  color: white;
}
.container {
  width: 70%;
}
.bgimg-1, .bgimg-2, .bgimg-5 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.w3-col.m8, .w3-twothird {
    width: 100%;
}
.w3-content {
  max-width: 100%;
  margin: 0px;
}
.bgimg-1 {
    background-image: url('http://www.lapdonline.org/assets/jpg/los-angeles-by-josh-harris-large.jpg');
    min-height: 100%;
}
.bgimg-2 {
  min-height:400px;
}
.bgimg-5 {
    background-image: url('https://lonelyplanetimages.imgix.net/a/g/hi/t/f4003584e847990e3cae4b5d8062e342-los-angeles.jpg?sharp=10&vib=20&w=1200');
    min-height: 600px;
}
#mybutton {
  margin: auto;
}
.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}
@media only screen and (max-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
.hitit {
  background-image: url("http://i2.cdn.turner.com/cnnnext/dam/assets/160825160953-05-week-in-photos-0826-super-169.jpg");
  height: 400px;
}
.btn {
    background: black;
    border: 0px solid transparent;
    border-radius: 4px;
    color: white;
}
.btn:hover {
    background: white;
    border: 1px solid black;
    border-radius: 4px;
    color: black;
}
a title:hover {
  background:white;
  color: black;
  font-size: 12px;
}
.great {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 55px;
  z-index: 1;
}
.great hr {
  margin: 8px;
  padding: 0px;
  border-color: white;
}
.manuel {
  width: 100%;
  background-color: white;
  margin: auto;
}
#myCarousel {
  width: 60%;
  margin: auto;
}
.manuel h1 {
  font-size: 80px;
  padding-left: 60px;
  color: black;
}
.think {
  background-color: black;
}
.think hr {
  padding: 0px;
  margin: 0px;
  width: 60%;
  margin: auto;
}
.footer {
  height: 100px;
  background-color: white;
}
.footer img {
  height: 40px;
  width: 40px;
  margin: 5px;
}
.opherion {
  margin: auto;
  width: 158px;
  padding-top: 10px;
}
.opherion p {
  color: black;
  text-align: center;
  padding-right: 5px;
}
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    background-color: white; /* white fallback color */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
.overlay-content {
    position: relative;
    width: 50%; /* 100% width */
    text-align: center; /* Centered text/links */
    top: 20%;
    margin: auto;
}
.overlay a {
    padding: 0px;
    text-decoration: none;
    font-size: 36px;
    color: Black;
    display: block;
    transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
@media screen and (min-width: 768px) {
  .legolas {
    position: relative;
    top: 7pc;
    width: 80px;
    height: 80px;
    margin: auto;
  }
  .rectangle-1 {
    height: 300px;
    width: 500px;
    border: 5px solid black;
    background: transparent;
  }
  .hey {
    padding-left: 100px;
  }
  .hey > h2 {
    padding: 0px;
    margin: 0px;
    color: black;
  }
  .hey .rectangle-1 h2 {
    padding-left: 420px;
    margin: 0px;
    color: black;
  }
  .rectangle-2 {
    height: 300px;
    width: 500px;
    border: 5px solid black;
    background: transparent;
  }
  .ho {
    padding-left: 100px;
  }
  .ho > h2 {
    padding: 0px;
    margin: 0px;
    color: black;
  }
  .ho .rectangle-2 h2 {
    padding-left: 400px;
    margin: 0px;
    color: black;
  }
}
@media screen and (max-width: 768px) {
  .manuel {
    width: 100%;
    height: 100%;
    background-color: black;
  }
}
@media screen and (max-width: 600px) {
  .manuel {
    width: 100%;
    height: 100%;
    background-color: black;
  }
}
@media screen and (max-width: 480px) {
  .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
  }
  .manuel {
    width: 100%;
    height: 100%;
    background-color: black;
  }
}
@media only screen and (max-width : 320px) {
  .manuel {
    width: 100%;
    height: 100%;
    background-color: black;
  }
}
.funkytown {
 width: 100%;
 height: 100%;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-body {padding: 2px 16px;}
.myButton {
	background-color:#000;
	border:1px transparent;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}
.myButton:hover {
	background-color:pink;
  color:black;
}
.myButton:active {
	position:relative;
	top:1px;
}
.shit {
  margin: auto;
  height: 58px;
  width: 289.48px;
  padding-top: 271px;
}
.find {
  color: black;
  text-decoration: none;
}
.find:hover {
  color: pink;
  text-decoration: none;
}
.song h1 {
  font-size: 100px;
  margin-top: 200px;
  color: white;
}
.rectangle-1 {
  background-color: pink;
  height: 300px;
  width: 70%;
  margin: auto;
  margin-top: 40px;
  border: none;
}
.rectangle-1 h1 {
  color: black;
  padding-left: 20px;
  padding-top: 20px;
}
